body{
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Comfortaa', cursive;
}
.navigation{
    width: 150px;
    background-color: #000;
    
}
.nav{
    margin-top: 187px;
}
a{
    text-decoration: none;
}
h3{
    color: #e245fe;
    margin-left: 10px;
    padding: 20px;
    font-family: 'Comfortaa', cursive;
    font-weight: 900;
    font-size: 25px;
}
.hoving:hover{
    text-decoration: underline;
}
.Project-Section{
    margin-left: 152px;
}
.works{
    color: aliceblue;
    margin-left: 68px;
}
.work_heading{
    text-decoration: underline;
    font-size: 30px;
    margin-top: 69px;
    text-align: center;
}
.tab{
    margin-top: 89px;
    font-size: 23px;
}

.texts:hover{
    text-decoration: underline;
}

.work_name{
    color: #e245fe;
    font-size: 35px;
}
.container{
    display: flex;
    flex-direction: row;
}
h2{
    font-family: 'Comfortaa', cursive;
    font-size: 40px;
    font-weight: bolder;
    text-decoration: underline;
    padding: 30px;
    
}
h4{
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
    text-decoration: underline;
    
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
}
p{
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    margin-bottom: 37px;
    color: aliceblue;
}
.aligner{
    text-align: center;
}
.under:hover{
    text-decoration: underline;
}
.Title{
    font-size: 30px;
    margin-bottom: 10px;
}
.text{
    color: #e245fe;
    
    font-family: 'Comfortaa', cursive;
    font-size: 23px;
    font-weight: bolder;
    
    padding: 30px;
}
.mar{
    margin-top: 60px;
    margin-left: 20px;
}
.setter{
    margin:33px;
    margin-top: 0px;
}
.navar{
    margin-left: 55px;
}
img{
    border-radius: 124px;
    width: 14%;
    margin-top: 100px;
    border-color: #e245fe;
    padding: 10px;
}
.photo{
    text-align: center;
}
.name{
    padding: 5px;
}

.itsme{
    color: white;
    margin-left: 75px;
    margin-right: 75px;
    text-align: center;
    line-height: 33px;
}
.skill{
    padding-left: 0px;
    margin-right: 500px;
}
.data{
    font-family:'Comfortaa', cursive ;
    font-size: 25px;
}
